<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shreyaspatil.EasyUpiPayment">

    <application>
        <activity
            android:name="com.shreyaspatil.easyupipayment.FakeUpiActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="upi" />
            </intent-filter>
        </activity>
    </application>

</manifest>