<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shreyaspatil.EasyUpiPayment">

    <application>
        <activity
            android:name="com.shreyaspatil.EasyUpiPayment.ui.PaymentUiActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>