<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.shreyaspatil.easyupipayment">

    <queries>
        <!-- View Intent for UPI apps -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>

        <!-- Chooser Intent for UPI apps -->
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
            <data android:scheme="upi" />
        </intent>

        <!-- Package Specific UPI Apps -->
        <package android:name="in.amazon.mShop.android.shopping" />
        <package android:name="in.org.npci.upiapp" />
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <package android:name="net.one97.paytm" />
    </queries>

    <application>
        <activity
            android:name=".ui.PaymentUiActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>